p{
  font-family: 'Tajawal', sans-serif;;  
}

.custom{
    text-align:center;
    flex-grow:0;
    flex-basis:25%;
}

.centerelement{
    text-align:center;
}
footer{
    background-color:#000000;
    text-align: left;
    min-width: 60px;
    font-style: 'Arial Narrow';
    font-size: 12px;
    color: white;
    padding: 20px;
}

.contactelement{
    text-align:center;
    -webkit-margin-after: 0.5em;
}

#contact{
	background:#333333;
	color:#f4f4f4;
	padding-bottom:80px;
}

.form-control{
    height:100px;
}

.contact_element{
        margin:0 0 35px 0;
        font-family: 'Patua One', cursive;
        text-transform: uppercase;
        letter-spacing:1px;
    }

    .form-control{
        height:100px;
    }
    
    .with-margin{
        margin:10px;
    }

.title{
    font-family: 'Playfair Display', serif;
}

/*test Lina guide*/



.guide_element{
    margin:50% 0 35px 0;
    letter-spacing:1px;
    text-align: justify;}



.titleStep{
    font-family: 'Playfair Display', serif;
    color: black;
    font-weight: bold;
}

.textContent{
    font-family: 'Tajawal', sans-serif;
}

