.custom{
    text-align:center;
    flex-grow:0;
    flex-basis:25%;
}
footer{
    background-color:black;
    text-align: left;
    min-width: 60px;
    font-style: 'Arial Narrow';
    font-size: 11px;
    color: white;
    padding: 20px;
}
#collection{
font-style: 'Arial Narrow';
font-size: 14px;
color: black;
}

.contactelement{
    text-align:center;
    -webkit-margin-after: 0.5em;
}

#contact{
	background:#333333;
	color:#f4f4f4;
	padding-bottom:80px;
}

.form-control{
    height:100px;
}

.contact_element{
        margin:0 0 35px 0;
        font-family: 'Patua One', cursive;
        text-transform: uppercase;
        letter-spacing:1px;
    }

    .form-control{
        height:100px;
    }
    


